@model ServiceDetailsVM

@section Header{
    Service Details
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details for @Model.Name</h3>
       
    </div>
    <ul>
        <li>Description:@Html.Raw(@Model.Description)</li>
            <li>Description:@(Model.IsDeleted?"Deleted": "Active")</li>
            <li>Description:@Model.CreatedAt</li>
            <li>Image:<img src="~/files/images/@Model.ImageName" width="50px"/></li>
    </ul>
  </div>

</div>